<div class="flex-shrink-0">
  <div class="container">
      <div class="bg-light p-5 rounded">
          <h3 class="text-center">Welcome to the Welfare and Self Reliance Front Desk Application</h3>
      </div>
      <div>
          <div class="row justify-content-center mt-5" >
              <div class="col-10 col-md-8 col-lg-6 bg-light p-4 card">
                  <h2 class="text-center p-3"> Recover Password</h2>
                  <form class="justify-content-center">
                    <div [hidden] = "hidePhoneNoArea">
                      <div class="mb-3">
                        <label for="phone_no" class="form-label">Your Phone Number</label>
                        <input type="text" class="form-control" id="phone_no" aria-describedby="phoneNoHelp">
                      </div>
                      <div class="mb-3 align-content-end">
                          <button type="submit" class="btn btn-primary" [hidden] = "hidePasswordDone">Done</button>
                          <button type="submit" class="btn btn-primary" disabled [hidden] = "hidePhoneLoading">
                              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                              Loading
                          </button>
                      </div>
                    </div>
                    <div [hidden] = "hideNewPasswordArea">
                      <div class="mb-3">
                        <label for="password" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="password">
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label"> Confirm Password</label>
                        <input type="password" class="form-control" id="password">
                      </div>
                      <div class="d-grid col-3 mx-auto">
                        <button type="submit" class="btn btn-primary" [hidden] = "hidePasswordDone">Done</button>
                        <button type="submit" class="btn btn-primary" disabled [hidden] = "hidePasswordLoading">
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading
                        </button>
                      </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<footer class="footer mt-5 py-3 bg-dark">
  <div class="container text-center">
    <h5 class="text-muted">WSRD &copy; Copyright 2021</h5>
  </div>
</footer>
